<%= render "shared/navbar" %>
<br>
<br>
<br>
<br>
<ul class="list-inline tabs-underlined">
  <li>
    <p class = "tab-underlined active" id = "tab-1" > Vos demandes de location</p>
  </li>
  <li>
    <p class = "tab-underlined" id = "tab-2"> Vos offres de location</p>
  </li>
  <li>
    <p class = "tab-underlined" id = "tab-3"> Vos équipements</p>
  </li>
  <li>
    <p class = "tab-underlined"> Historique</p>
  </li>
  <li>
    <p class = "tab-underlined"> Mes informations</p>
  </li>
</ul>

<div class="tab-info tab-active" id = "tab-1-infos">
  <h3>Mes demandes de réservation</h3>
  <% @my_bookings.each do |booking| %>
        <%= link_to product_path(booking.product) do  %>
        <div class="card-product">
            <%= cl_image_tag(booking.product.photos.first.key, class: "image") %>
            <%= booking.status %>
        </div>
      <% end %>
  <% end %>
</div>

<div class="tab-info" id = "tab-2-infos">
  <h3>Mes offres </h3>
  <% @my_products.each do |product| %>
        <%= link_to product_path(product) do  %>
        <% product.bookings.each do |demand| %>
          <div class="card-product">
            <%= cl_image_tag(demand.product.photos.first.key, class: "image") %>
            <%= demand.status %>
          </div>
        <% end %>
      <% end %>
  <% end %>
</div>

<div class="tab-info" id = "tab-3-infos">
  <h3>Mes produits</h3>
  <% @my_products.each do |product| %>
        <%= link_to product_path(product) do  %>
        <div class="card-product">
            <%= cl_image_tag(product.photos.first.key, class: "image") %>
        </div>
      <% end %>
  <% end %>
</div>
