<%= render "shared/navbar" %>
<br>
<br>
<br>
<br>
<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "Vos demandes de location", root_path, class: "tab-underlined active" %>
  </li>
  <li>
    <%= link_to "Vos offres de location", root_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "Vos équipements", root_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "Historique", root_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "Mettre à jour mes informations", root_path, class: "tab-underlined" %>
  </li>
</ul>

<% @my_products.each do |product| %>
      <%= link_to product_path(product) do  %>
      <div class="card-product">
          <%= cl_image_tag(product.photos.first.key, class: "image") %>
      </div>
    <% end %>
<% end %>
