<%= render "shared/navbar" %>

<div class="container container-down">

  <div class="justify-content-end mb-5" >
    <%= form_tag products_path, method: :get do %>
    <div class="d-flex my-5" style="height: 50px; width: 1200px;">
      <select name="quality" class="form-control">
        <option value="" disabled selected hidden>Etat</option>
        <option value="Moyen">Moyen</option>
        <option value="Bon">Bon</option>
        <option value="Très bon">Très bon</option>
        <option value="Excellent">Excellent</option>
      </select>
      <select name="size" class="form-control">
        <option value="" disabled selected hidden>Taille</option>
        <option value="Tailles">Tailles</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="Tailles enfant">Tailles enfant</option>
        <option value="08-10 ans">08-10 ans</option>
        <option value="10-12 ans">10-12 ans</option>
        <option value="12-14 ans">12-14 ans</option>
        <option value="Tailles françaises">Tailles françaises</option>
        <option value="36">36</option>
        <option value="38">38</option>
        <option value="40">40</option>
        <option value="Tailles pour skis">Tailles pour skis</option>
        <option value="130cm">130cm</option>
        <option value="140cm">140cm</option>
        <option value="152cm">152cm</option>
      </select>
      <%= form_tag products_path, method: :get do %>
          <%= text_field_tag :location,
            params[:location],
            class: "form-control",
            placeholder: "Adresse"
          %>
      <% end %>

        <%= submit_tag "Rechercher", class: "btn btn-primary" %>
      <% end %>

  </div>


  <div class="d-flex">
    <div class="cards">
      <% @products.each do |product| %>
        <%= link_to product_path(product) do  %>
        <div class="card-product">
            <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
            <%= cl_image_tag(product.photos.first.key, class: "image") %>
          <div class="card-product-infos">
            <% if product.user.photo_url %>
              <%= image_tag asset_path(product.user.photo_url), class:"avatar", alt: "avatar" %>
            <% end %>
            <div class="text">
              <h2><%= product.name %></h2>
              <p><%= product.description %></p>
            </div>
            <div class="main-btn">
              <div class="btn btn-primary">
                  <%= product.quality %>
              </div>
              <div class="btn btn-primary">
                <%= product.size %>
              </div>
              <div class="btn btn-primary">
                <%= product.price %> €/jour
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div id="map"
        style="margin-left: 10px;width:100%; height:100vh"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

</div>
