<%= render "shared/navbar" %>

<div class="container container-down">
  <div class="d-flex justify-content-end mb-5" >
    <% if policy(Product).create? %>
      <%= link_to "Ajouter un produit", new_product_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="cards">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do  %>
        <div class="card-product">
          <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
          <%= cl_image_tag(product.photos.first.key, class: "image") %>
          <div class="card-product-infos">
          <% if product.user.photo_url %>
            <%= image_tag asset_path(product.user.photo_url) %>
          <% end %>
            <h2><%= product.name %></h2>
            <p><%= product.description %></p>
            <h2 class="price"><%= product.price %> €</h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
