<%= render "shared/navbar" %>

<div class="container container-down">

<div class="cards">
  <% @products.each do |product| %>
    <div class="card-product">
      <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
      <%= cl_image_tag(product.photos.first.key, class: "image") %>
      <div class="card-product-infos">
        <h2><%= link_to product.name, product_path(product) %></h2>
        <p><%= product.description %></p>
        <h2 class="price"><%= product.price %> €</h2>
      </div>
    </div>
  <% end %>
</div>

  <% if policy(Product).create? %>
    <%= link_to "Add a product", new_product_path %>
  <% end %>
</div>
