

<%= render "shared/navbar" %>
<div id="top-show"></div>
<div class="container container-down" >
  <div class="card-product-show d-flex">
    <div>
    <% @product.photos.each do |photo| %>
      <div class="card-product-show-mini">
        <% if @product.photos.index(photo) != 0 %>
          <%= cl_image_tag(photo.key,
          width: 100, height: 100, crop: :fill) %>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="card-product-show" style="mb-5;">
        <%= cl_image_tag(@product.photos.first.key, width: 405, height: 405, crop: :fill, class: "image") %>
    </div>
    <div class="right-card">
      <div class="card-product-info-schedule">
        <div class="d-flex" style="justify-content: space-between; my-5">
          <div class="card-product-info">
            <% if @product.user.photo_url %>
              <%= image_tag asset_path(@product.user.photo_url), class:"avatar" %>
            <% end %>
            <h4><%= @product.name %></h4>
              <p>proposé par <strong><%=@product.user.first_name %></strong></p>
            <div class="d-flex">
            </div>
            <br>
            <p><%= @product.description %></p>
            <br>
            <h6><%= @product.price %>€ /jour</h6>
            <h6>Etat: <%= @product.quality %></h6>
            <div class="user-choice">
               <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Réserver
              </button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#messageModal" data-bs-whatever="@mdo">
                Contacter <%= @product.user.first_name %>
              </button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="other-text">
         <h2>Les autres produits proposés par <%= @product.user.first_name %></p>
  </div>
    <div class="cards d-flex">
      <% @product.user.products.each do |product| %>
        <% if product != @product %>
          <div class="card-product">
            <%= link_to product_path(product), class:"card-text" do  %>
            <div>
              <p><%= product.name %></p>
            </div>
            <%= cl_image_tag(product.photos.first.key, width: 150, height: 150, crop: :fill) %>
            <% end %>
            <div class=price-show>
              <p><%= @product.price %>€ /jour</p>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>



<!-- Modal pour reserver  -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Demande de réservation prise en compte</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Dates : 23/03/2022 au 30/03/2022
        <br>
        À : <%= @product.user.first_name %>
        <br>
        <br>
        Confirmer votre demande de réservation et <%= @product.user.first_name %> vous recontactera.
        <br>
        Vous retrouverez le statut de votre demande dans votre Tableau de bord.
      </div>
      <div class="modal-footer">
        <%= link_to "Réserver", product_bookings_path(@product, params: { booking: { user_id: @product.user_id, product_id: @product.id, status: "En attente"}}), class: "btn btn-primary", method: :post %>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal pour contacter  -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messageModalLabel">Nouveau message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Motif :</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message :</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-secondary">Envoyez votre message</button>
      </div>
    </div>
  </div>
</div>
